params {
    dir = "/scratch/sb14489/10.Metagenome/"
    metadata = "/scratch/sb14489/10.Metagenome/1.RawData/Metadata.txt"
    threads = 10
    commName = "ChickenGut"
    reads = "${params.dir}/1.RawData/*_{1,2}.fastq.gz"
   mergedFiles = "${params.dir}/3.Pear/*.assembled.fastq"
    params.preprocessing=true
    params.featuretable=false
    params.qiimeDiversity=false
    params.figures=false
    params.samplingDepth_Alpha=1109
    params.database = "/scratch/sb14489/10.Metagenome/databases/Silva-138-99-515-806-nb-classifier.qza"
}
